<mat-nav-list style="background-color: rgb(80, 113, 153); height: 100%; padding-left: 10px">
    <div class="mat-list-item">
        <div class="row">
            <div class="col-md-11">
                <form class="search-container">
                    <input type="text" id="search-bar" placeholder="Boss, Search Here" />
                    <a href="#" style="background-color: transparent" class="search-icon"><span class="material-icons" style="color: rgba(0, 0, 255, 0.363)">
              search
            </span></a
          >
        </form>
      </div>
    </div>
  </div>

  <br />
  <br />
  <h2 style="color: whitesmoke;margin-bottom: 0.1rem;"><small>My Dashboard</small></h2>
  <hr style="background-color: white; margin-top: 0px; margin-bottom: 10px" />
  <a
    class="navCol "
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/"
    style="color: whitesmoke"
  >
    <span class="material-icons" style="font-size: 25px; width: 50px">
      reorder
    </span>
    <span style="width: 180px"> Finance</span>
    <div fxLayoutAlign="flex-end">
      <span class="material-icons" style="width: 30px"> stars </span>
    </div>
    <span class="material-icons"> highlight_off </span>
  </a>
                    <a class="navCol" mat-list-item routerLinkActive="list-item-active" routerLink="/" style="color: whitesmoke">
                        <span class="material-icons" style="font-size: 25px; width: 50px">
      reorder
    </span>
                        <span style="width: 180px"> Sales</span>
                        <div fxLayoutAlign="flex-end">
                            <span class="material-icons" style="width: 30px"> stars </span>
                        </div>
                        <span class="material-icons"> highlight_off </span>
                    </a>

                    <div class="center">
                        <span class="material-icons" style="color: white; font-size: 25px">
      add_circle_outline
    </span>
                    </div>
                    <br />
                    <br />
                    <br />

                    <h2 style="color: whitesmoke;margin-bottom: 0.1rem;"><small>Shared</small></h2>
                    <hr style="background-color: white; margin-top: 0px; margin-bottom: 10px" />
                    <a class="navCol" mat-list-item routerLinkActive="list-item-active" routerLink="/" style="color: whitesmoke">
                        <span class="material-icons" style="font-size: 25px; width: 50px">
      reorder
    </span>
                        <span style="width: 180px"> Shared 01</span>
                        <div fxLayoutAlign="flex-end">
                            <span class="material-icons" style="width: 30px"> stars </span>
                        </div>
                        <span class="material-icons"> highlight_off </span>
                    </a>
                    <a class="navCol" mat-list-item routerLinkActive="list-item-active" routerLink="/" style="color: whitesmoke">
                        <span class="material-icons" style="font-size: 25px; width: 50px">
      reorder
    </span>
                        <span style="width: 180px"> Shared 02</span>
                        <div fxLayoutAlign="flex-end">
                            <span class="material-icons" style="width: 30px"> stars </span>
                        </div>
                        <span class="material-icons"> highlight_off </span>
                    </a>
</mat-nav-list>