<!-- <h1 mat-dialog-title>Hi {{topic}}</h1> -->
<div mat-dialog-content>
    <div class="card resizable horizontal" style="width: 100%">
        <div class="card-header">
            <div class="row">
                <div class="col-md-7" style="text-align: left; font-size: 18px">
                    <span style="text-align: left">{{ topic }}</span>
                </div>
                <div class="col-md-5" style="text-align: right; font-size: 20px">
                    <span class="material-icons" style="padding-right: 10px">
          stars
        </span>
                    <span class="material-icons" style="padding-right: 10px">
          zoom_in
        </span>
                    <span class="material-icons" style="cursor: move">
          more_vert
        </span>
                </div>
            </div>
        </div>
        <div class="card-body" style="width: 100%; align-items: center">
            <ng-template #ytdsales [ngIf]="topic == 'YTD Sales'">
                <div class="row">
                    <div class="col-md-2" style="text-align: center; font-size: 18px">
                        <span class="material-icons" style="color: green; font-size: 60px">
            arrow_drop_up
          </span>
                    </div>
                    <div class="col-md-10" style="text-align: center; font-size: 33px; padding-top: 15px">
                        <span style="text-align: left; color: grey"> $ 128.7 Mn</span>
                    </div>
                </div>
            </ng-template>

            <ng-template #chartPie [ngIf]="topic == 'Sales by Location'">
                <div class="row" style="height: 250px">
                    <apx-chart width="100%" [series]="pieChartOptions.series" [chart]="pieChartOptions.chart" [labels]="pieChartOptions.labels"></apx-chart>
                </div>
            </ng-template>

            <ng-template #columnChart [ngIf]="topic == 'Sales Funnel'">
                <div class="row">
                    <apx-chart [series]="columnChartOptions.series" [chart]="columnChartOptions.chart" [dataLabels]="columnChartOptions.dataLabels" [plotOptions]="columnChartOptions.plotOptions" [yaxis]="columnChartOptions.yaxis" [legend]="columnChartOptions.legend" [fill]="columnChartOptions.fill"
                        [stroke]="columnChartOptions.stroke" [tooltip]="columnChartOptions.tooltip" [xaxis]="columnChartOptions.xaxis"></apx-chart>
                </div>
            </ng-template>

            <ng-template #barChart [ngIf]="topic == 'Annual Sales by Gender'">
                <div class="row">
                    <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart" [labels]="barChartOptions.labels" [xaxis]="barChartOptions.xaxis"></apx-chart>
                </div>
            </ng-template>

            <ng-template #gradientLineChart [ngIf]="topic == 'Monthly Sales Growth'">
                <div class="row">
                    <apx-chart [series]="gradientChartOptions.series" [chart]="gradientChartOptions.chart" [labels]="gradientChartOptions.labels" [xaxis]="gradientChartOptions.xaxis" [fill]="gradientChartOptions.fill" [stroke]="gradientChartOptions.stroke"></apx-chart>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <!-- <button mat-button cdkFocusInitial>Ok</button> -->
</div>
<!-- [mat-dialog-close]="data.animal" -->